body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  

  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background: #f6f6f6;
}

.wrapper{
	max-width: 425px;
	width: 100%;
	margin: 50px auto;
}

.accordion_container{
	width: 100%;
	height: 550px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.125);
}

.accordion_container .accordion_header{
	background: lightblue;
	padding: 35px 15px;
	height: 100px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	box-shadow: 0 2px 1px rgba(0,0,0,0.125);
}

.accordion_container .accordion_body{
	padding: 20px 25px;
	height: calc(550px - 100px);
	overflow: auto;
}

.accordion_container .accordion_body ul{
	list-style: none;
	padding: 0;
}

.accordion_container .accordion_body ul li{
	border-bottom: 1px solid #e0e0e0;
	padding: 0px 25px;
	margin-bottom: 10px;
  height: 60px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion_container .accordion_body ul li:last-child{
	border-bottom: 0px;
	margin-bottom: 0px;
}

.accordion_container .accordion_body ul li .li_qus{
    color: black;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion_container .accordion_body ul li .li_qus p{
  width: 250px;
}

.accordion_container .accordion_body ul li .li_qus .btn{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: lightblue;
  position: relative;
}

.accordion_container .accordion_body ul li .li_qus .btn:before,
.accordion_container .accordion_body ul li .li_qus .btn:after{
	content: "";
	position: absolute;
	top: 14px;
	left: 8px;
	width: 15px;
	height: 2px;
	background: #fff;
  transition: all 0.3s ease;
}

.accordion_container .accordion_body ul li .li_qus .btn:after{
	transform: rotate(90deg);
}

.accordion_container .accordion_body ul li .li_ans {
    padding: 10px 0;
    height: 0;
    padding-left: 40px;
    font-size: 14px;
    line-height: 21px;
    transition: height 0.3s ease;
}

.accordion_container .accordion_body ul li.active{
  height: 560px;
}

.accordion_container .accordion_body ul li.active .li_ans{
    height: 500px;
}

.accordion_container .accordion_body ul li.active .li_qus .btn:after{
  transform: rotate(0deg);
}

h1 {
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  background-color: #333;
}

body {
  background-image: linear-gradient(to right, #DD54FF ,#58D1EF );
}